#left {
    width: 20%;
    background-color: grey;
}

#right {
    width: 80%;
}

img {
    width: 120px;
    height: auto;
}

a {
    color: black;
    padding: 5px;
    font-size: 30px;
}

a:hover {
    background-color: white;
}