<form action="/action_page.php" class="was-validated">
    <div class="form-group">
        <label for="name">Họ và tên</label>
            <input type="text" class="form-control" [(ngModel)]="hs.name" [ngModelOptions]="{standalone: true}"
            id="name" required>
        <div class="invalid-feedback">Vui lòng điền đầy đủ thông tin</div>
    </div>
    <div class="form-group">
        <label for="date">Ngày sinh</label>
            <input type="text" class="form-control" [(ngModel)]="hs.date" [ngModelOptions]="{standalone: true}"
            id="date" required>
        <div class="invalid-feedback">Vui lòng điền đầy đủ thông tin</div>
    </div>
    <div class="form-group">
        <label for="wretangle">Giới tính</label>
            <select class="form-control">
            <option value="">Nam</option>
            <option value="">Nữ</option>
        </select>
    </div>
    <div class="form-group">
        <label for="point">Điểm</label>
            <input type="number" class="form-control" [(ngModel)]="hs.diem" [ngModelOptions]="{standalone: true}"max="10"
            min="0" id="point" required>
        <div class="invalid-feedback">Vui lòng điền đầy đủ thông tin</div>
    </div>
    <div class="form-group">
        <label for="wretangle">Học lực</label>
            <div class="alert alert-success ">
            {{hs.status}}
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary" (click)="Tinhhl()">Tính</button>
</form>