<div class="card mt-5">
    <div class="card-header bg-primary text-white">Product list</div>
    <div class="card-body">
        <form>
            <label for="input" style="padding-right:40px;" for="exampleFormControlInput1"> Filter: </label>
            <input type="text" id="exampleFormControlInput1" [(ngModel)]="searchText" name="filter">
        </form>
        <div class="table-responsive" id="searchTextResults">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            <button class="btn btn-primary" (click)="toggle()">{{buttonName}} Image</button>
                        </th>
                        <th scope="col">Products</th>
                        <th scope="col">Code</th>
                        <th scope="col">Available</th>
                        <th scope="col">Price</th>
                        <th scope="col">5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products | filter:searchText">
                        <td *ngIf="show, else hide"><img src="{{product.imageUrl}}"></td>
                        <ng-template #hide>
                            <td></td>
                        </ng-template>
                        <td><a [routerLink]="['/detail',product.productId]">{{product.productName}}</a></td>
                        <td>{{product.productCode}}</td>
                        <td>{{product.releaseDate}}</td>
                        <td>{{product.price}}</td>
                        <td>
                            <star-rating value="{{product.starRating}}" checkedcolor="black" uncheckedcolor="grey" size="24px"></star-rating>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>